<p id="notice"><%= notice %></p>

<h1>Lista Unidades Federativas</h1>

<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades_federativas.each do |unidade_federativa| %>
      <tr>
        <td><%= unidade_federativa.sigla %></td>
        <td><%= unidade_federativa.nome %></td>
        <td><%= link_to 'Ver', unidade_federativa %></td>
        <td><%= link_to 'Alterar', edit_unidade_federativa_path(unidade_federativa) %></td>
        <td><%= link_to 'Apagar', unidade_federativa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova unidade federativa', new_unidade_federativa_path %>
