<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @unidade_federativa.sigla %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @unidade_federativa.nome %>
</p>

<% if current_user && current_user.moderador? %> 
  <%= link_to 'Alterar', edit_unidade_federativa_path(@unidade_federativa) %> |
<% end %>
  <%= link_to 'Voltar', unidades_federativas_path %>
