<p id="notice"><%= notice %></p>

<h1>Lista de Graus Formações</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graus_formacao.each do |grau_formacao| %>
      <tr>
        <td><%= grau_formacao.descricao %></td>
        <td><%= link_to 'Ver', grau_formacao %></td>
        <td><%= link_to 'Alterar', edit_grau_formacao_path(grau_formacao) %></td>
        <td><%= link_to 'Agagar', grau_formacao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Grau formação', new_grau_formacao_path %>
