<p id="notice"><%= notice %></p>

<h1>Avaliar candidaturas a vaga </h1>

<table>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Município</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatos_vagas.each do |candidato_vaga| %>
      <tr>
        <td><%= candidato_vaga.candidato.nome %></td>
        <td><%= candidato_vaga.candidato.email %></td>
        <td><%= candidato_vaga.candidato.telefone %></td>
        <td><%= candidato_vaga.candidato.municipio %></td>
        <td><%= link_to "Download Curriculo", candidato_vaga.candidato.curriculo_url %></td>
        <td>
          <% if !candidato_vaga.selecionado %>
            <%= link_to 'Selecionar' , "/selecionarCandidatoVaga/" + candidato_vaga.id.to_s%>
          <% else %>
            <%= label_tag "Selecionado" %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', vagas_path %>
