<p id="notice"><%= notice %></p>

<h1>Vagas Diponíveis</h1>

<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Descricao</th>
      <th>Cidade</th>
      <th>Faixa salarial</th>
      <th>Quantidade</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.cargo %></td>
        <td><%= vaga.descricao %></td>
        <td><%= vaga.cidade %></td>
        <td><%= vaga.faixa_salarial %></td>
        <td><%= vaga.quantidade %></td>
        <% if current_user && current_user.candidato? %> 
          <td><%= link_to 'Candidatar', "/candidaturas/" + vaga.id.to_s %></td>
        <% end %>
         <% if current_user && current_user.contratante? %> 
          <td><%= link_to 'Avaliar Candidatos', "/avaliarCandidatoVaga/" + vaga.id.to_s %></td>
        
        <% end %>
        
        
        
        </tr>
    <% end %>
  </tbody>
</table>

<br>

