<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Minhas Candidaturas</h1>

<table>
  <thead>
    <tr>
      <th>Contratante</th>
      <th>Faixa salarial</th>
      <th>Cidade</th>
      <th>Quantidade</th>
      <th>Cargo</th>
      <th>Descricao</th>
      <th>Data cadastro</th>
      <th>Data inicio inscricao</th>
      <th>Data termino inscricao</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatos_vagas.each do |candidato_vaga| %>
      <tr>
        <td><%= candidato_vaga.vaga.contratante %></td>
        <td><%= candidato_vaga.vaga.faixa_salarial %></td>
        <td><%= candidato_vaga.vaga.cidade %></td>
        <td><%= candidato_vaga.vaga.quantidade %></td>
        <td><%= candidato_vaga.vaga.cargo %></td>
        <td><%= candidato_vaga.vaga.descricao %></td>
        <td><%= candidato_vaga.vaga.data_cadastro %></td>
        <td><%= candidato_vaga.vaga.data_inicio_inscricao %></td>
        <td><%= candidato_vaga.vaga.data_termino_inscricao %></td>
        <td><%= link_to 'Desistir', "/candidaturas/" + candidato_vaga.id.to_s, method: :delete, data: { confirm: 'Você tem certeza que deseja desistir?' } %></td>
        <td><%= link_to 'Questionário', "/questionarios/vaga/" +candidato_vaga.vaga.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>