<p id="notice"><%= notice %></p>

<h1>Listing Pessoas Juridicas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Logradouro</th>
      <th>Complemento</th>
      <th>Numero</th>
      <th>Cep</th>
      <th>Municipio</th>
      <th>Inscricaoestadual</th>
      <th>Cnpj</th>
      <th>Logo</th>
      <th>Autorizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas_juridicas.each do |pessoa_juridica| %>
      <tr>
        <td><%= pessoa_juridica.nome %></td>
        <td><%= pessoa_juridica.email %></td>
        <td><%= pessoa_juridica.telefone %></td>
        <td><%= pessoa_juridica.logradouro %></td>
        <td><%= pessoa_juridica.complemento %></td>
        <td><%= pessoa_juridica.numero %></td>
        <td><%= pessoa_juridica.cep %></td>
        <td><%= pessoa_juridica.municipio %></td>
        <td><%= pessoa_juridica.inscricaoEstadual %></td>
        <td><%= pessoa_juridica.cnpj %></td>
        <td><%= pessoa_juridica.logo %></td>
        <td><%= pessoa_juridica.autorizado %></td>
        <td><%= link_to 'Show', pessoa_juridica %></td>
        <td><%= link_to 'Edit', edit_pessoa_juridica_path(pessoa_juridica) %></td>
        <td><%= link_to 'Destroy', pessoa_juridica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa juridica', new_pessoa_juridica_path %>
