<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa_juridica.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa_juridica.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pessoa_juridica.telefone %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @pessoa_juridica.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @pessoa_juridica.complemento %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa_juridica.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa_juridica.cep %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @pessoa_juridica.municipio %>
</p>

<p>
  <strong>Inscricaoestadual:</strong>
  <%= @pessoa_juridica.inscricaoEstadual %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pessoa_juridica.cnpj %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @pessoa_juridica.logo %>
</p>

<p>
  <strong>Autorizado:</strong>
  <%= @pessoa_juridica.autorizado %>
</p>

<%= link_to 'Edit', edit_pessoa_juridica_path(@pessoa_juridica) %> |
<%= link_to 'Back', pessoas_juridicas_path %>
