<p id="notice"><%= notice %></p>

<h1>Lista de Linguas</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linguas.each do |lingua| %>
      <tr>
        <td><%= lingua.descricao %></td>
        <td><%= link_to 'Ver', lingua %></td>
        <td><%= link_to 'Alterar', edit_lingua_path(lingua) %></td>
        <td><%= link_to 'Apagar', lingua, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Lingua', new_lingua_path %>
