<h1>Lista Faixas Salariais</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faixas_salariais.each do |faixa_salarial| %>
      <tr>
        <td><%= faixa_salarial.valor %></td>
        <td><%= link_to 'Ver', faixa_salarial %></td>
        <td><%= link_to 'Alterar', edit_faixa_salarial_path(faixa_salarial) %></td>
        <td><%= link_to 'Agagar', faixa_salarial, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faixa salarial', new_faixa_salarial_path %>
