
        <tr>
            <td>
                <%= f.text_field :empresa %>
            </td>
            <td>
                <%= f.text_field :areaAtuacao %>
            </td>
            <td>
                <%= f.text_field :dataInicio %>
            </td>
            <td>
                <%= f.text_field :dataConclusao %>
            </td>
            <td>
                <%= link_to_remove_association "remove Experiencia Profissional", f %>
            </td>
        </tr>
