<div class="fields">
  <p>
    <%= f.label :descricao, "Pergunta" %>
    <%= f.text_field :descricao %>
    <%= f.label :nota, "Nota" %>
    <%= f.text_field :nota %>
    <%= link_to_remove_fields "remove", f %><br />
  </p>
  <%= f.fields_for :opcoes do |opcao| %>
    <%= render 'opcao_fields', :f => opcao %>
  <% end %>
  <p><%= link_to_add_fields "Add Opção", f, :opcoes %></p>
</div>