<h1>Listing Questionarios</h1>
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  <% for questionario in @questionarios%>
    <tr>
      <td><%=h questionario.descricao %></td>
      <% if current_user && current_user.contratante? %> 
      <td><%= link_to "Ver", questionario %></td>
      <td><%= link_to "Editar", edit_questionario_path(questionario) %></td>
      <td><%= link_to "Excluir", questionario, :confirm => 'Tem certeza?', :method => :delete %></td>
      <%end%>
      <% if current_user && current_user.candidato? %> 
        <td colspan="4"><%= link_to 'Questionário', "/questionarios/responder/" + questionario.id.to_s %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<% if current_user && current_user.contratante? %> 
<p><%= link_to "Novo Questionário", new_questionario_path + "/" + @vaga.id.to_s %></p>
<% end %>
