<h1>Lista Questionarios</h1>
<table>
  <tr>
    <th>Name</th>
    <th colspan="4"></th>
  </tr>
  <% for questionario in @questionarios%>
    <tr>
      <td><%=h questionario.descricao %></td>
      <% if current_user && current_user.contratante? %> 
      <td><%= link_to "Ver", questionario %></td>
      <td><%= link_to "Editar", edit_questionario_path(questionario) %></td>
      <td><%= link_to "Excluir", questionario, :confirm => 'Tem certeza?', :method => :delete %></td>
      <td><%= link_to "Notas Candidatos", "/candidaturas/questionario/#{questionario.id}" %></td>
      <%end%>
      <% if current_user && current_user.candidato? %> 
        <% if @questionarios_respondidos[questionario.id] != nil%>
          <td colspan="4">Já respondido</td>
        <% else%>
          <td colspan="4"><%= link_to 'Questionário', "/questionarios/responder/" + questionario.id.to_s %></td>
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table>
<% if current_user && current_user.contratante? %> 
<p>
  <%= link_to 'Voltar', vagas_path %>&nbsp;
  <%= link_to "Novo Questionário", new_questionario_path + "/" + @vaga.id.to_s %>
</p>
</p>
<% end %>
<% if current_user && current_user.candidato? %> 
<p>
  <%= link_to 'Voltar', "/vagasdisponiveis" %>&nbsp;
</p>
<% end %>
