<p>
  <strong>Descrição:</strong>
  <%=h @questionario.descricao %>
</p>

<ol>
<% for questao in @questionario.questoes %>
  <li>
    <%=h questao.descricao %><%=h " Nota=" + questao.nota.to_s %>
    <ul>
    <% for opcao in questao.opcoes %>
      <li><%=h opcao.descricao %><%=h opcao.gabarito ? " - Gabarito" : "" %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_questionario_path(@questionario) %> |
  <%= link_to 'Back', "/questionarios/vaga/" + @questionario.vaga.id.to_s %>
</p>
