<h1>Editing Pessoa Juridica</h1>

<%= render 'form' %>

<%= link_to 'Show', @pessoa_juridica %> |
<%= link_to 'Back', pessoas_juridicas_path %>
<script>
    $("#UnidadeFederativa").val(<%=@pessoa_juridica.municipio.unidade_federativa.id %>).change();
    
    var idMunicipio = <%=@pessoa_juridica.municipio.id %>;
</script>