<h1>Editing Vaga</h1>

<%= render 'form' %>

<%= link_to 'Show', @vaga %> |
<%= link_to 'Back', vagas_path %>
<script>
    $("#UnidadeFederativa").val(<%=@vaga.cidade.unidade_federativa.id %>).change();
    
    var idMunicipio = <%=@vaga.cidade.id %>;
</script>
