<p id="notice"><%= notice %></p>

<h1>Listing Candidaturas</h1>

<table>
  <thead>
    <tr>
      <th>Contratante</th>
      <th>Faixa salarial</th>
      <th>Cidade</th>
      <th>Quantidade</th>
      <th>Cargo</th>
      <th>Descricao</th>
      <th>Data cadastro</th>
      <th>Data inicio inscricao</th>
      <th>Data termino inscricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas_fisicas_vagas.each do |pessoa_fisica_vaga| %>
      <tr>
        <td><%= pessoa_fisica_vaga.vaga.contratante %></td>
        <td><%= pessoa_fisica_vaga.vaga.faixa_salarial %></td>
        <td><%= pessoa_fisica_vaga.vaga.cidade %></td>
        <td><%= pessoa_fisica_vaga.vaga.quantidade %></td>
        <td><%= pessoa_fisica_vaga.vaga.cargo %></td>
        <td><%= pessoa_fisica_vaga.vaga.descricao %></td>
        <td><%= pessoa_fisica_vaga.vaga.data_cadastro %></td>
        <td><%= pessoa_fisica_vaga.vaga.data_inicio_inscricao %></td>
        <td><%= pessoa_fisica_vaga.vaga.data_termino_inscricao %></td>
        <td><%= link_to 'Destroy', "/candidaturas/" + pessoa_fisica_vaga.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
