<p id="notice"><%= notice %></p>

<h1>Lista Níveis</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @niveis.each do |nivel| %>
      <tr>
        <td><%= nivel.descricao %></td>
        <td><%= link_to 'Ver', nivel %></td>
        <td><%= link_to 'Alterar', edit_nivel_path(nivel) %></td>
        <td><%= link_to 'Apagar', nivel, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Nível', new_nivel_path %>
