<p id="notice"><%= notice %></p>

<h1>Listing Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Contratante</th>
      <th>Faixa salarial</th>
      <th>Cidade</th>
      <th>Quantidade</th>
      <th>Cargo</th>
      <th>Descricao</th>
      <th>Data cadastro</th>
      <th>Data inicio inscricao</th>
      <th>Data termino inscricao</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.contratante.nome %></td>
        <td><%= vaga.faixa_salarial %></td>
        <td><%= vaga.cidade %></td>
        <td><%= vaga.quantidade %></td>
        <td><%= vaga.cargo %></td>
        <td><%= vaga.descricao %></td>
        <td><%= vaga.data_cadastro %></td>
        <td><%= vaga.data_inicio_inscricao %></td>
        <td><%= vaga.data_termino_inscricao %></td>
        <td><%= link_to 'Show', vaga %></td>
        <td><%= link_to 'Edit', edit_vaga_path(vaga) %></td>
        <td><%= link_to 'Destroy', vaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Questionário', "/questionarios/vaga/" +vaga.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaga', new_vaga_path %>
