<h1>Alterar Vaga</h1>

<%= render 'form' %>
<br>
<%= link_to 'Ver', @vaga %> |
<%= link_to 'Voltar', vagas_path %>
<script>
    $("#UnidadeFederativa").val(<%=@vaga.cidade.unidade_federativa.id %>).change();
    
    var idMunicipio = <%=@vaga.cidade.id %>;
</script>