<h1>Vagas ofertadas</h1>

<table>
  <thead>
    <tr>
      <th>Contratante</th>
      <th>Faixa salarial</th>
      <th>Cidade</th>
      <th>Cargo</th>
      <th>Data cadastro</th>
      <th>Data inicio inscrição</th>
      <th>Data término inscrição</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.contratante.nome if vaga.contratante %></td>
        <td><%= vaga.faixa_salarial %></td>
        <td><%= vaga.cidade %></td>
        <td><%= vaga.cargo %></td>
        <td><%= vaga.data_cadastro.strftime("%d/%m/%Y") %></td>
        <td><%= vaga.data_inicio_inscricao.strftime("%d/%m/%Y") %></td>
        <td><%= vaga.data_termino_inscricao != nil ? vaga.data_termino_inscricao.strftime("%d/%m/%Y") : "" %></td>
        <td><%= link_to 'Mostrar', vaga %></td>
        <td><%= link_to 'Editar', edit_vaga_path(vaga) %></td>
        <td><%= link_to 'Excluir', vaga, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <td><%= link_to 'Selecionar', "/avaliarCandidatoVaga/" +vaga.id.to_s %></td>
        <td><%= link_to 'Questionário', "/questionarios/vaga/" +vaga.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'Orfertar Vaga', new_vaga_path %>
