<p id="notice"><%= notice %></p>

<p>
  <strong>Contratante:</strong>
  <%= @vaga.contratante %>
</p>

<p>
  <strong>Faixas salariais:</strong>
  <%= @vaga.faixa_salarial %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @vaga.cidade %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @vaga.quantidade %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @vaga.cargo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @vaga.descricao %>
</p>

<p>
  <strong>Data cadastro:</strong>
  <%= @vaga.data_cadastro.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data inicio inscricao:</strong>
  <%= @vaga.data_inicio_inscricao.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data termino inscricao:</strong>
  <%= @vaga.data_termino_inscricao != nil ? @vaga.data_termino_inscricao.strftime("%d/%m/%Y") : "" %>
</p>

<%= link_to 'Editar', edit_vaga_path(@vaga) %> |
<%= link_to 'Voltar', root_path %>
