<h1>Lista Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Papel</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.login %></td>
        <td><%= usuario.papel %></td>
        <td><%= usuario.status %></td>
        <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Alterar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_usuario_path %>
