<%= form_for(@contratante) do |f| %>
  <% if @contratante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contratante.errors.count, "error") %> prohibited this contratante from being saved:</h2>

      <ul>
      <% @contratante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user && !current_user.status %>
     <div class="pergunta radius10 sombra">
         Caro usuário, <p/> Seu acesso ainda não foi autorizado pelo moderador. Realize o cadastro de seus dados e aguarde.
       
     </div>
  <% end %>
  <h3 style="color:#ccc">Dados Básicos</h3>
  <hr>
  <div class="field" style="width: 100%">
    <input type="radio" id="rdTipoPessoaPF" name="rdTipoPessoa" value="PF" onclick="rdTipoPessoa_Click(this.value)"> Pessoa Física
    <input type="radio" id="rdTipoPessoaPJ" name="rdTipoPessoa" value="PJ" onclick="rdTipoPessoa_Click(this.value)"> Pessoa Jurídica
  </div>
  
   <div class="field" pj>
    <%= f.label :cnpj, "CNPJ" %><br>
    <%= f.text_field :cnpj %>
  </div>
  <div class="field" pj>
    <%= f.label :inscricaoEstadual, "Inscrição Estadual" %><br>
    <%= f.text_field :inscricaoEstadual %>
  </div>
  <div class="field" pf style="display:none">
    <%= f.label :cpf, "CPF" %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, required: "" %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, required: "" %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br>
    <%= f.text_field :email, required: "" %>
  </div>
  <div class="field">
    <% if @contratante.logo_url != nil %>
    <img src="<%= @contratante.logo_url%>" style="max-width:100px;max-height:100px">
    <% end%>
    <%= f.label "Logo da Empresa" %>
    <%= f.file_field :logo %>
  </div>
  <div class="field" pf>
    &nbsp;
  </div>
  <div class="field" style="float:none; width:100%">
    &nbsp;
  </div>
<br>
  <h3 style="color:#ccc" >Endereço</h3>
  <hr>
  <div class="field" style="width:100%">
    <%= f.label :logradouro %><br>
    <%= f.text_field :logradouro, required: "", style: "width:95%" %>
  </div>
  <div class="field">
    <%= f.label :numero, "Número" %><br>
    <%= f.text_field :numero, required: "" %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, required: "" %>
  </div>
  <div class="field">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento %>
  </div>
  <div class="field">
    <%= f.label :cep, "CEP" %><br>
    <%= f.text_field :cep, required: "" %>
  </div>
   <div class="field">
    <%= f.label "Unidade Federativa" %><br>
    <%= select_tag "UnidadeFederativa", options_for_select(@unidades_federativas.map{ |s| [s.sigla, s.id] }), include_blank: true, required: "" %>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br>
    <%= select_tag "contratante[municipio_id]", options_for_select(@municipios.map{ |s| [s.nome, s.id] }), include_blank: true, required: "" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
<script>
function montaComboMunicipio(idCompoMunicipio, valor){
    var url = '/getMunicipios?uf=' + valor;
    $.get(url, function(data) {
      try{
        var dataJson = JSON.parse(data);
        $("#" + idCompoMunicipio).find("option").remove();
        $("#" + idCompoMunicipio).get(0).add(new Option("", ""), null);

        $.each(dataJson.aaData, function(index, optionData) {
            var option = new Option(optionData[1], optionData[0]);
                $("#" + idCompoMunicipio).get(0).add(option, null);
           });
        console.log(idMunicipio);
        if(idCompoMunicipio == "contratante_municipio_id" && idMunicipio != undefined)
          $("#" + idCompoMunicipio).val(idMunicipio);
      }catch(e)
      {
        //alert(e.message)
      }
    });
  }

  $("#UnidadeFederativa").change(function(){montaComboMunicipio("contratante_municipio_id", this.value)});
  

  
  $(document).ready(
    function ()
    {
      var tipoPessoa = "<%=@contratante.cnpj != nil ? "PJ" : "PF" %>";
      rdTipoPessoa_Click(tipoPessoa);
    }
  );
  
  function rdTipoPessoa_Click(rdTipoPessoa)
  {
    if(rdTipoPessoa == "PF")
    {
      $("[pj]").hide();
      $("[pj]").val("");
      $("[pf]").show();
      $("#rdTipoPessoaPF").attr("checked", true);
    }
    else
    {
      $("[pj]").show();
      $("[pf]").hide();
      $("[pf]").val("");
      $("#rdTipoPessoaPJ").attr("checked", true);
    }
  }
</script>