<p id="notice"><%= notice %></p>

<h1>Lista Contratantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Municipio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratantes.each do |contratante| %>
      <tr>
        <td><%= contratante.nome %></td>
        <td><%= contratante.email %></td>
        <td><%= contratante.telefone %></td>
        <td><%= contratante.municipio %></td>
        <td><%= link_to 'Ver', contratante %></td>
        <td><%= link_to 'Alterar', edit_contratante_path(contratante) %></td>
        <td><%= link_to 'Apagar', contratante, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Contratante', new_contratante_path %>
