<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contratante.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contratante.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contratante.telefone %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @contratante.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @contratante.complemento %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @contratante.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @contratante.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @contratante.cep %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @contratante.municipio %>
</p>

<p>
  <strong>Inscricaoestadual:</strong>
  <%= @contratante.inscricaoEstadual %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @contratante.cnpj %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @contratante.logo %>
</p>

<p>
  <strong>Autorizado:</strong>
  <%= current_user.status %>
</p>

<%= link_to 'Editar', edit_contratante_path(@contratante) %> |
<%= link_to 'Voltar', root_path %>
