
        <tr class="nested-fields">
            <td>
                <%= f.text_field :empresa %>
            </td>
            <td>
                <%= f.text_field :areaAtuacao %>
            </td>
            <td>
                <%= f.text_field :dataInicio, :value => @candidato.experiencias_profissionais[f.index.to_i]!= nil && @candidato.experiencias_profissionais[f.index.to_i].dataInicio != nil ? @candidato.experiencias_profissionais[f.index.to_i].dataInicio.strftime("%d/%m/%Y") : "", "provider" => 'datepicker', "mascara" => "date" %>
            </td>
            <td>
                <%= f.text_field :dataConclusao, :value => @candidato.experiencias_profissionais[f.index.to_i] != nil && @candidato.experiencias_profissionais[f.index.to_i].dataConclusao != nil ? @candidato.experiencias_profissionais[f.index.to_i].dataConclusao.strftime("%d/%m/%Y") : "", "provider" => 'datepicker', "mascara" => "date" %>
            </td>
            <td>
                <%= link_to_remove_association "Remover Experiência Profissional", f %>
            </td>
        </tr>
