<%=javascript_include_tag :cocoon %>
<%= form_for(@candidato, url: @url, method: @metodo, html: {multipart: true, class: @classe, id: @id }) do |f| %>
  <% if @candidato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidato.errors.count, "error") %> prohibited this candidato from being saved:</h2>

      <ul>
      <% @candidato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h3 style="color:#ccc">Dados Básicos</h3>
  <hr>

  <div class="field" style="width:100%">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, required: "", style:"width:95%"%>
  </div>
  <div class="field">
    <%= f.label :dataNascimento, "Data nascimento" %><br>
    <%= f.text_field :dataNascimento, :value => @candidato.dataNascimento != nil ? @candidato.dataNascimento.strftime("%d/%m/%Y") : "", required: "", style: "width:100px", "provider" => 'datepicker', "mascara" => "date" %>
  </div>
  <div class="field">
    <%= f.label :cpf, "CPF" %><br>
    <%= f.text_field :cpf, required: "", "mascara" => "cpf" %>
  </div>
  <div class="field">
    <%= f.label "Unidade Federativa Naturalidade" %><br>
    <%= select_tag "UnidadeFederativaNaturalidade", options_for_select(@unidades_federativas.map{ |s| [s.sigla, s.id] }), include_blank: true, required: "" %>
  </div>
  <div class="field">
    <%= f.label :naturalidade_id %><br>
    <%= select_tag "candidato[naturalidade_id]", options_for_select(@municipios.map{ |s| [s.nome, s.id] }), include_blank: true, required: "" %>
  </div>
  <div class="field">
    <%= f.label :nacionalidade %><br>
    <%= f.text_field :nacionalidade, required: "" %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, "mascara" => 'telefone' %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br>
    <%= f.text_field :email, required: "", :type => "email" %>
  </div>

   <div class="field">
    <%= f.label :curriculo %><br>
    <%= f.file_field :curriculo %>
    
    <% if @candidato.curriculo_url != nil %>
    <%= link_to "Download Curriculo", @candidato.curriculo_url %>
    <% end%>
  </div>
  <div class="field" style="width:100%">
    <% if @candidato.foto_url != nil %>
    <img src="<%= @candidato.foto_url%>" style="max-width:100px;max-height:100px">
    <% end%>
    <%= f.label :foto %>:
    <%= f.file_field :foto %>
  </div>
  <div class="field" style="width:100%;float:clear">
    &nbsp;
  </div>
  <br><br>
  <h3 style="clear:both;color:#ccc">Endereço</h3>
  <hr>
  <div class="field" style="width:100%">
    <%= f.label :logradouro %><br>
    <%= f.text_field :logradouro, required: "", style: "width:95%" %>
  </div>
  <div class="field">
    <%= f.label :numero, "Número" %><br>
    <%= f.text_field :numero, required: "" %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, required: "" %>
  </div>
  <div class="field">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento %>
  </div>
  <div class="field">
    <%= f.label :cep, "CEP" %><br>
    <%= f.text_field :cep, required: "", "mascara" => "cep" %>
  </div>
  <div class="field">
    <%= f.label "Unidade Federativa" %><br>
    <%= select_tag "UnidadeFederativa", options_for_select(@unidades_federativas.map{ |s| [s.sigla, s.id] }), include_blank: true, required: "" %>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br>
    <%= select_tag "candidato[municipio_id]", options_for_select(@municipios.map{ |s| [s.nome, s.id] }), include_blank: true, required: "" %>
  </div>

  <h3 style="clear:both;color:#ccc">Formação</h3>
  <hr>
  
  <fieldset id="candidato-certificados">
    <legend>Certificados</legend>
    <ol>
      <div class='nested-fields'> 
        <table width="100%">
            <tr>
                <td>Certificado</td>
                <td></td>
            </tr>
      <%= f.fields_for :certificados do |certificado| %>
        <%= render 'certificado_fields', :f => certificado %>
      <% end %>
        </table>
      </div>
    </ol>
    <%= link_to_add_association 'Adicionar certificado', f, :certificados, 'data-association-insertion-node' => "#candidato-certificados ol div table", 'data-association-insertion-method' => "append" %>
  </fieldset>
  
  <fieldset id="candidato-linguas">
    <legend>Línguas</legend>
    <ol>
      <div class='nested-fields'> 
        <table width="100%">
            <tr>
                <td>Língua</td>
                <td>Nível</td>
                <td></td>
            </tr>
      <%= f.fields_for :candidato_linguas do |lingua| %>
        <%= render 'candidato_lingua_fields', :f => lingua %>
      <% end %>
        </table>
      </div>
    </ol>
    <%= link_to_add_association 'Adicionar Língua', f, :candidato_linguas, 'data-association-insertion-node' => "#candidato-linguas ol div table", 'data-association-insertion-method' => "append"%>
  </fieldset>
  
  <fieldset id="candidato-formacoes_academicas">
    <legend>Formação Acadêmica</legend>
    <ol>
      <div class='nested-fields'> 
        <table width="100%">
            <tr>
                <td>Grau Formação</td>
                <td>Instituição</td>
                <td>Carga Horária</td>
                <td>Data Início</td>
                <td>Data Conclusão</td>
                <td></td>
            </tr>
      <%= f.fields_for :formacoes_academicas do |formacao_academica| %>
        <%= render 'formacao_academica_fields', :f => formacao_academica %>
      <% end %>
        </table>
      </div>
    </ol>
    <%= link_to_add_association 'Adicionar Formação Acadêmica', f, :formacoes_academicas, 'data-association-insertion-node' => "#candidato-formacoes_academicas ol div table", 'data-association-insertion-method' => "append"%>
  </fieldset>
  
  <fieldset id="candidato-experiencias_profissionais">
    <legend>Experiências profissionais</legend>
    <ol>
      <div class='nested-fields'> 
        <table width="100%">
            <tr>
                <td>Empresa</td>
                <td>Área de Atuação</td>
                <td>Data Início</td>
                <td>Data Conclusão</td>
                <td></td>
            </tr>
      <%= f.fields_for :experiencias_profissionais do |experiencia_profissional| %>
        <%= render 'experiencia_profissional_fields', :f => experiencia_profissional %>
      <% end %>
        </table>
      </div>
    </ol>
    <%= link_to_add_association 'Adicionar Experiência Profissional', f, :experiencias_profissionais, 'data-association-insertion-node' => "#candidato-experiencias_profissionais ol div table", 'data-association-insertion-method' => "append"%>
  </fieldset>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
<script>
function montaComboMunicipio(idCompoMunicipio, valor){
    var url = '/getMunicipios?uf=' + valor;
    
    $.get(url, function(data) {
      try{
        
        console.log(valor);
        var dataJson = JSON.parse(data);
        $("#" + idCompoMunicipio).find("option").remove();
        $("#" + idCompoMunicipio).get(0).add(new Option("", ""), null);
        $.each(dataJson.aaData, function(index, optionData) {
            var option = new Option(optionData[1], optionData[0]);
                $("#" + idCompoMunicipio).get(0).add(option, null);
           });
        if(idCompoMunicipio == "candidato_municipio_id" && idMunicipio != undefined)
          $("#" + idCompoMunicipio).val(idMunicipio);
        else if(idCompoMunicipio == "candidato_naturalidade_id" && idMunicipioNaturalidade != undefined)
           $("#" + idCompoMunicipio).val(idMunicipioNaturalidade);
      }catch(e)
      {
       
      }
    });
  }

  $("#UnidadeFederativa").change(function(){montaComboMunicipio("candidato_municipio_id", this.value)});
  $("#UnidadeFederativaNaturalidade").change(function(){montaComboMunicipio("candidato_naturalidade_id", this.value)});
  
  
</script>