<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li id="usuario"><%= link_to current_user.login, current_user %></li>
  
        <% if current_user && current_user.candidato? %>
          <li><%= link_to "Meu Perfil", current_user.pessoa.nil? ? new_candidato_path : edit_candidato_path(current_user.pessoa)  %></li>
          <li><%= link_to "Minhas Candidaturas", candidaturas_path %></li>
          <li><%= link_to "Vagas Disponíveis", "/vagasdisponiveis" %></li> 
          
        <% end %>
       
        <% if current_user && current_user.contratante? %>
              <li><%= link_to "Perfil", current_user.pessoa.nil? ? new_contratante_path : edit_contratante_path(current_user.pessoa)  %></li> 
              <li><%= link_to "Vagas", vagas_path %></li

        <% end %>
      
      <% end %>
      <% if current_user && current_user.moderador? %> 
        <li><%= link_to 'Usuários', usuarios_path %></li>
      <% end %>
      <li><%= link_to "Ajuda", ajuda_path %></li>
      
      <% if current_user %> 
        <li><%= link_to "Sair", logout_path  %></li> 
      <% else %>
        <li><%= link_to "Login", 'login' %></a></li>
        <li><%= link_to "Cadastro", 'signup' %></a></li>
      <% end %>
    </ul>
  </nav>
  
  
</header>